In [1]:
# Importing Dependencies
import pandas as pd
import numpy as np

In [2]:
# Bringing in Uncleaned CSV's
csv1 = "Resources/09-2018-citibike-tripdata.csv"
csv2 = "Resources/09-2019-citibike-tripdata.csv"
bike_trip_2018 = pd.read_csv(csv1)
bike_trip_2019 = pd.read_csv(csv2)

In [3]:
# Viewing the 2018 Data
bike_2018_df = bike_trip_2018
bike_2018_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,284,48:22.0,53:06.9,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26303,Subscriber,1984,1
1,370,48:22.5,54:32.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29667,Subscriber,1984,1

In [4]:
# Viewing the 2019 Data
bike_2019_df = bike_trip_2019
bike_2019_df.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,145,00:37.7,03:03.0,3640,Journal Square,40.73367,-74.062500,3206,Hilltop,40.731169,-74.057574,29303,Subscriber,1991,1
1,212,03:00.6,06:33.3,3194,McGinley Square,40.72534,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29297,Subscriber,1993,2

In [5]:
del bike_2018_df['usertype']
del bike_2019_df['usertype']

In [6]:
bike_2018_df.head(5)
bike_2019_df.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,145,00:37.7,03:03.0,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,29303,1991,1
1,212,03:00.6,06:33.3,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29297,1993,2
2,569,07:13.0,16:42.9,3214,Essex Light Rail,40.712774,-74.036486,3184,Paulus Hook,40.714145,-74.033552,29435,1977,1
3,1380,07:25.3,30:26.2,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29509,1965,1
4,1346,07:56.5,30:22.5,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29226,1968,2

In [7]:
# Checking Type of Values
bike_2018_df.dtypes
bike_2019_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
birth year                   int64
gender                       int64
dtype: object

In [8]:
bike_2018_df['gender'] = bike_2018_df['gender'].astype(str)
bike_2019_df['gender'] = bike_2019_df['gender'].astype(str)

In [9]:
gender_check_2018 = bike_2018_df['gender']
changed_2018_male = gender_check_2018.replace('1', 'Male')
changed_2018_female = changed_2018_male.replace('2', 'Female')
changed_2018_unknown = changed_2018_female.replace('0', 'Unknown')
bike_2018_df['gender'] = changed_2018_unknown
bike_2018_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,284,48:22.0,53:06.9,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26303,1984,Male
1,370,48:22.5,54:32.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29667,1984,Male
2,1181,37:04.3,56:45.3,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26307,1994,Male
3,383,44:46.0,51:09.9,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,29261,1987,Male
4,377,44:46.2,51:03.6,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,33665,1985,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,412,42:28.0,49:20.4,3202,Newport PATH,40.727224,-74.033759,3187,Warren St,40.721124,-74.038051,29486,1975,Female
14995,725,51:43.4,03:49.4,3202,Newport PATH,40.727224,-74.033759,3184,Paulus Hook,40.714145,-74.033552,29245,1983,Female
14996,709,51:57.3,03:46.9,3202,Newport PATH,40.727224,-74.033759,3184,Paulus Hook,40.714145,-74.033552,26178,1981,Male
14997,1762,56:36.2,25:58.4,3202,Newport PATH,40.727224,-74.033759,3198,Heights Elevator,40.748716,-74.040443,26207,1973,Male
14998,1513,30:18.1,55:32.1,3202,Newport PATH,40.727224,-74.033759,3281,Leonard Gordon Park,40.745910,-74.057271,26185,1993,Male

In [10]:
gender_check_2019 = bike_2019_df['gender']
changed_2019_male = gender_check_2019.replace('1', 'Male')
changed_2019_female = changed_2019_male.replace('2', 'Female')
changed_2019_unknown = changed_2019_female.replace('0', 'Unknown')
bike_2019_df['gender'] = changed_2019_unknown
bike_2019_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,birth year,gender
0,145,00:37.7,03:03.0,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,29303,1991,Male
1,212,03:00.6,06:33.3,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29297,1993,Female
2,569,07:13.0,16:42.9,3214,Essex Light Rail,40.712774,-74.036486,3184,Paulus Hook,40.714145,-74.033552,29435,1977,Male
3,1380,07:25.3,30:26.2,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29509,1965,Male
4,1346,07:56.5,30:22.5,3214,Essex Light Rail,40.712774,-74.036486,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,29226,1968,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,395,21:39.7,28:14.8,3276,Marin Light Rail,40.714584,-74.042817,3272,Jersey & 3rd,40.723332,-74.045953,26292,1997,Female
14995,439,25:03.1,32:22.5,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29618,1976,Male
14996,293,25:10.7,30:04.5,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26162,1969,Unknown
14997,869,27:55.2,42:24.3,3639,Harborside,40.719252,-74.034234,3280,Astor Place,40.719282,-74.071262,29490,1988,Male
14998,99,35:39.8,37:19.1,3638,Washington St,40.724294,-74.035483,3202,Newport PATH,40.727224,-74.033759,26182,1989,Male

In [11]:
current_year = 2019

birth_year_2018 = bike_2018_df['birth year']
age = current_year - birth_year_2018
bike_2018_df['age'] = age

birth_year_2019 = bike_2019_df['birth year']
age = current_year - birth_year_2019
bike_2019_df['age'] = age

In [12]:
# Rearranging the Columns
bike_2018_df_organized = bike_2018_df[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_2019_df_organized = bike_2019_df[["bikeid",
                                       "gender",
                                       "birth year",
                                       "age",
                                       "tripduration",
                                       "start station id",
                                       "start station name",
                                       "start station latitude",
                                       "start station longitude",
                                       "starttime",
                                       "end station id",
                                       "end station name", 
                                       "end station latitude",
                                       "end station longitude",
                                       "stoptime"]]

bike_2018_df_organized.head(5)
bike_2019_df_organized.head(5)

,bikeid,gender,birth year,age,tripduration,start station id,start station name,start station latitude,start station longitude,starttime,end station id,end station name,end station latitude,end station longitude,stoptime
0,29303,Male,1991,28,145,3640,Journal Square,40.733670,-74.062500,00:37.7,3206,Hilltop,40.731169,-74.057574,03:03.0
1,29297,Female,1993,26,212,3194,McGinley Square,40.725340,-74.067622,03:00.6,3679,Bergen Ave,40.722104,-74.071455,06:33.3
2,29435,Male,1977,42,569,3214,Essex Light Rail,40.712774,-74.036486,07:13.0,3184,Paulus Hook,40.714145,-74.033552,16:42.9
3,29509,Male,1965,54,1380,3214,Essex Light Rail,40.712774,-74.036486,07:25.3,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,30:26.2
4,29226,Female,1968,51,1346,3214,Essex Light Rail,40.712774,-74.036486,07:56.5,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,30:22.5

In [13]:
bike_2018_renamed_df = bike_2018_df_organized.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})

bike_2019_renamed_df = bike_2019_df_organized.rename(columns={"bikeid":"Bike ID", 
                                                              "gender":"Gender",
                                                              "birth year":"Birth Year",
                                                              "age":"Age",
                                                              "tripduration":"Trip Duration",
                                                              "start station id":"Start Station ID",
                                                              "start station name":"Start Station Name",
                                                              "start station latitude":"Start Station Latitude",
                                                              "start station longitude":"Start Station Longitude",
                                                              "starttime":"Start Time",
                                                              "end station id":"End Station ID",
                                                              "end station name":"End Station Name",
                                                              "end station latitude":"End Station Latitude",
                                                              "end station longitude":"End Station Longitude",
                                                              "stoptime":"Stop Time"})



bike_2018_renamed_df
bike_2019_renamed_df

,Bike ID,Gender,Birth Year,Age,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,Start Time,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Stop Time
0,29303,Male,1991,28,145,3640,Journal Square,40.733670,-74.062500,00:37.7,3206,Hilltop,40.731169,-74.057574,03:03.0
1,29297,Female,1993,26,212,3194,McGinley Square,40.725340,-74.067622,03:00.6,3679,Bergen Ave,40.722104,-74.071455,06:33.3
2,29435,Male,1977,42,569,3214,Essex Light Rail,40.712774,-74.036486,07:13.0,3184,Paulus Hook,40.714145,-74.033552,16:42.9
3,29509,Male,1965,54,1380,3214,Essex Light Rail,40.712774,-74.036486,07:25.3,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,30:26.2
4,29226,Female,1968,51,1346,3214,Essex Light Rail,40.712774,-74.036486,07:56.5,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,30:22.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,26292,Female,1997,22,395,3276,Marin Light Rail,40.714584,-74.042817,21:39.7,3272,Jersey & 3rd,40.723332,-74.045953,28:14.8
14995,29618,Male,1976,43,439,3195,Sip Ave,40.730897,-74.063913,25:03.1,3280,Astor Place,40.719282,-74.071262,32:22.5
14996,26162,Unknown,1969,50,293,3195,Sip Ave,40.730897,-74.063913,25:10.7,3678,Fairmount Ave,40.725726,-74.071959,30:04.5
14997,29490,Male,1988,31,869,3639,Harborside,40.719252,-74.034234,27:55.2,3280,Astor Place,40.719282,-74.071262,42:24.3
14998,26182,Male,1989,30,99,3638,Washington St,40.724294,-74.035483,35:39.8,3202,Newport PATH,40.727224,-74.033759,37:19.1

In [14]:
bike_2018_renamed_df.to_csv("Outputs/09_2018_citibike_tripdata_cleaned.csv", index=False, header=True)
bike_2019_renamed_df.to_csv("Outputs/09_2019_citibike_tripdata_cleaned.csv", index=False, header=True)